<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="[%magenta{%d{dd/MM/yyyy HH:mm:ss.SSS}}] [%white{%pid}] [%blue{%thread:%tid}] [%highlight{%-5level}{FATAL=bright red, ERROR=red, WARN=bright yellow, INFO=green, DEBUG=bright magenta, TRACE=cyan}] %style{%C{1.}.%M}{normal,cyan} :: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>